.heading{
    color: #A4A400;
    background-color: #F0F0F0;
    font-family: Lucida Sans Unicode, Helvetica, Arial, sans-serif;
    font-size: 18pt;
    text-align: left;
    text-decoration: underline;
    margin-bottom: 10px;
}
.mainheader{
    text-align: center;
    font-size: 22pt;
}
.steps{
    list-style: none;
    padding-left: 0;
}

body{
    background-color: white;
    color: #404040;
    font-size: 11pt;
    font-family:  Georgia, Garamond, serif;
}
a:link,a:visited,a:active,a:hover{
    color:#A4A400
}
.cake{
    text-decoration:line-through;
}
.comment{
    background-color: yellow;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left:30px;
    margin-right:30px;
}