/*
Dong Wang, 
This is css for Homework Assignment 2: Movie Review 
*/
body{
    background-image: url("background.png");
    background-repeat: repeat;
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 8pt;
}
.banner{
    background-image: url("bannerbg.png");
    background-repeat: repeat-x;
    text-align: center;
    overflow: hidden;
}
h1.title {
    font-family: Tahoma, Verdana, sans-serif;
    font-size: 24pt;
    text-shadow: 3px 3px 0px #999999;
    text-align: center;
}
.content{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    border-width: 4px;
    border-color: gray;
    border-style: solid;
    overflow: hidden;
}
#leftPanel{
    float: left;
    width: 550px;
}
#leftTop{
    background-image: url("rbg.png");
    background-repeat: repeat-x;
    font-size: 48pt;
    color: red;
    font-weight: bold;
    overflow: hidden;
}
#leftTop>img{
    vertical-align: bottom;
}
#overview{
    float: right;
}
.bottom{
    clear: both;
    text-align: center;
    background-color: #A2B964;
    padding: 5px;
}

.reviewPanel{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
.reviewColumn {
    width: 47%;
    margin-left: 5.5px;
    margin-right: 5.5px;
    display: flex;
    flex-direction: column;
}
.column{
    margin-top: 10pt;
    margin-bottom: 10pt;
}
.reviewContent{
    font-weight: bold;
    font-size: 8pt;
    background-color: #E8DC9B;
    border-radius: 10px;
    border-width: 3px;
    border-color: gray;
    border-style: solid;
    padding: 8px;
    overflow: hidden;
    margin-bottom: 8px;
}
.reviewContent>img{
    margin-right: 5px;
    float: left;
}
.reviewer > img{
    margin-right: 5px;
}
.publication{
    font-style: italic;
}
.reviewer>img, .reviewer>div{
  float: left;
}
#overview{
    background-color: #A2B964;
    width: 250px;
    font-size: 8pt;
    font-family: Arial, sans-serif;
}
#overview dt{
    font-weight: bold;
    margin-top: 10pt;
}
#overview dl{
    margin-left: 10pt;
    margin-right: 10pt;
}
#overview ul {
    list-style: none;
    padding-left: 0;
}
#validate {
    position: fixed;
    bottom: 5px;
    right: 5px;
    opacity: 0.5;
}

